# Tangram
# SPDX-License-Identifier: MIT
# Copyright (c) 2013-2016 Brett Camper and Mapzen

.gitattributes

# jshint config
.jshintrc

# build & test artifacts
node_modules
build
coverage
.vitest-reports/

# Yarn and Docusaurus generated state
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
website/.docusaurus
website/build
website/static/examples
website/static/modules
website/static/robots.txt
modules/tangram-layers/dist
modules/tangram-renderer/dist
examples/classic/dist

# OS misc
.DS_Store

#
*.sublime-project
*.sublime-workspace

# storing some screenshots here
screenshots
